<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="playlistContent">
        <section class="playlist-section">
            <h2 class="text-center fw-bold mb-5">Mi Playlist</h2>

            <div class="playlist-container">
                <!-- Carrusel y botón de crear -->
                <div class="playlist-top">
                    <div class="playlist-header">
                        <button class="btn-crear" id="btnCrearPlaylist">Crear Nueva Playlist</button>
                    </div>

                    <div class="carrusel-wrapper">
                        <div class="carrusel">
                            <div class="carrusel-item" th:each="playlist : ${playlists}" th:attr="data-playlist-id=${playlist.id}">
                                <img src="https://cdn-icons-png.flaticon.com/512/9280/9280598.png"
                                    th:alt="${playlist.nombre}">
                                <button class="btn-delete" th:attr="data-id=${playlist.id}" title="Eliminar Playlist">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Boton de desplazamiento izquierdo: -->
                        <button class="scroll-btn left"><i class="fas fa-chevron-left"></i></button>
                        <!-- Boton de desplazamiento derecho -->
                        <button class="scroll-btn right"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>

                <div class="playlist-bottom mt-4">
                    <h4 class="fw-semibold mb-3 text-center">Canciones que te gustaron</h4>
                    <div class="liked-carousel">
                        <div class="liked-track">
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="viewPlaylistModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Playlist</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body" id="playlist-modal-body">
                                <!-- Las canciones se cargan aquí dinámicamente -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="modal-backdrop fade show"></div> -->
        </section>
    </div>
</body>

</html>